* {
    padding: 0px;
    margin: 0px;
    
  }
  .radio-common{
    background-color: rgb(45, 44, 44);
  }
  .radio-cmn {
    margin:auto;
    width:85%;
  }
  .radio-h1{
    color:white;
    font-size:1.9rem;
    padding: 1rem 0 1rem 5%;
    letter-spacing: 2px;
    font-family: mode;
  }
  .radio-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    row-gap: 1rem;
  }
  .radio-number{
    color:white;
    font-size:2rem;
    font-family: cabin;
  }
  .radio-card {
    height:auto;
    cursor: pointer;
    padding: 0 1rem .5rem 1rem; 
    border-radius: 15%;
    text-align: center;
  }
  
  
  
  .radio-image:hover{
    border:7px solid grey;
  }
  
  @keyframes animate1 {
    
  }
  
  .radio-image {
    height: 8rem;
    width: 8rem;
    border-radius: 15%;
    margin:.3rem 0 0 0;
    
  
  }
  
  .radio-movie{
    text-align: center;
    color:white;
    font-family: coco;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-overflow: ellipsis;
      overflow: hidden;
      width:105%;
      white-space: nowrap;
  font-family: cabin;
  }
  .radio-director{
    font-family: cabin;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    white-space: nowrap;
    color:rgb(180, 184, 160);
    letter-spacing: 1px;
  }
  .radio-singer{
    font-family: cabin;
    letter-spacing: 1.4px;
    font-size:1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    white-space: nowrap;
    color:rgb(194, 199, 183);
  }

  .CommonPodcasts-audio-cmn1{
    position:sticky;
    width:100%;
    display:block;
    bottom: 0px; 
  }

@media screen and (max-width:749px) {
.radio-container{
    display: grid;
    grid-template-columns:50% 50%;
    text-align: center;
}
.radio-cmn {
  margin:auto;
  width:100%;
}
.radio-h1{
  font-size:2rem;
}
.radio-card{
  padding: 0 0rem 1rem 0rem; 
}
.radio-image {
  height: 7rem;
  width: 7rem;
}
.radio-movie{
  font-size: 1.1rem;
  width:100%;
  margin-top: 3px;
}
.radio-footer-cmn{
  padding-bottom: 115px;
}
.CommonPodcasts-audio-cmn1{
  
  position: fixed;
   
}
}



@media screen and (max-width:425px) {
  .radio-image {
    height: 4rem;
    width: 70%;
  }
  .radio-movie{
    font-size: 1.2rem;
    width:80%;
  }
}


@media screen and (min-width:750px) and (max-width:1010px) {
  .radio-container{
      display: grid;
      grid-template-columns:33.3% 33.3% 33.3%;
      text-align: center;
  }
  .radio-h1{
    font-size: 1.7rem;
  }
  .radio-movie{
    font-size: 1.2rem;
  }
  .radio-card{
    padding: 0 1rem 1rem 1rem; 
  }
  .radio-image {
    height: 8rem;
    width: 100%;
  }
}