* {
    padding: 0px;
    margin: 0px;
    
  }
  .Common1Songs-cmn{
    position: relative;
  }
  .songlist-cmn1 {
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    background-position-x:right;
    background-position-y: 0%;
    background-attachment:scroll;
  
  }
  .songlist-cmn2 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(180deg,rgba(0,0,0,.3) 0,rgba(0,0,0,1) 90vh);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(50px);
    color:white;
  }
  .gaana-grid{
     display: grid;
    grid-template-columns: .5fr 1fr .4fr;
    column-gap:20px;
    padding:4rem 0 0 0;
  }
  .ganna-img{
    place-self: center;
    height:auto;
    width:10rem;
  }
  .gaana-head1-cmn{
    display: flex;
    align-items: center;
  }
  .gaana-cmn{
    position: relative;
    
  }
  .gaana-category{
    font-size:2rem;
    font-weight: bold;
    font-family: cabin;
    letter-spacing: 2px;
    font-style: italic;
    font-variant: small-caps;

  }
  .gaana-total{
    font-size:1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: cabin;
    color:silver;
  }
  .gaana-audio-cmn{
    position:sticky;
    width:100%;
    display:block;
    bottom: 0px;
    
  }
  .gaana-tot-hide{
    display: none;
  }
  

  .songlist-table{
    border-collapse:collapse;
    margin:1em auto 0 auto;
    border:3px solid grey;
    min-width: 100%; 
    width: fit-content;
  }
  .songlist-thead{
    font-family: mode;
    letter-spacing: 1px;
    border-bottom: 3px solid grey;
  }
 .songlist-th{
    padding: 12px 3px;
    font-size: 1.2rem;
    color:rgb(207, 199, 199);
  }
  .songlist-bd-cmn{
    border:2px solid unset;
    
  }
  .songlist-bd-cmn:hover{
    background-color: grey;
    z-index: -2;
    
  }
  .songlist-bd,.songlist-bd-artist{
    padding: 10px 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    
  }
  .songlist-index{
    font-size: 1.2rem;
    color:#f1edee;
    font-weight: bold;
    text-align: center;
    font-family: cabin;
  }
  .songlist-songname{
    font-size: 1.2rem;
    color:#f1edee;
    letter-spacing: 2px;
    font-family:cabin;
  }
  .songlist-musicdirector{
    text-overflow: ellipsis;
    overflow: hidden;
    width:11rem;
    margin: auto;
    white-space: nowrap;
    color:#f1edee;
    font-size: 1.2rem;
    font-family: mode;
    letter-spacing: 1px;
    padding:  5px;
  }
  .songlist-singer,.songlist-singer1{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    width:20rem;
    margin: auto;
    padding:5px;
    color:#f1edee;
    font-family: mode;
    letter-spacing: 1px; 
    font-size:1.2rem;
    font-weight: bold;
  }
  .songlist-duration{
    font-size: 1.2rem;
    font-family: cabin;
    letter-spacing: 1px;
    
  }
  .songlist-download,.songlist-download1{
    color:#f1edee;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    z-index: 999;
  }
  .songlist-download1:active{
    color:red;
    z-index: 999;
  }


  

  @media screen and (max-width:749px) {
  .gaana-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 2rem 0 0 0;
  }
  .gaana-head1-cmn{
    margin: auto;
  }
  .gaana-category{
    font-size:1.5rem;
    margin: 1rem 0;
  }
  .ganna-img{
    width:8rem;   
    margin: auto;
  }
  .gaana-total{
    font-size:1.2rem;
  }
  .songlist-table{
    width: 100%;
    
  }
  .songlist-th{
    font-size: 1rem;
    padding: .5rem .2rem;
    
  }
  .songlist-bd{
    
    border: none;
  }
  .songlist-index{
    font-size: 1rem;
  }
  .songlist-songname{
    font-size: 1rem;
    
  }
  .songlist-musicdirector,.songlist-singer1{
    font-size: 1rem;
    width: 5rem;
    padding:0;
  }
  .songlist-singer{
    width:3rem;
    font-size: 1rem;
    padding: 0;
    display: none;
  }
  .songlist-th-artist{
    display: none;
  }
  .songlist-bd-artist{
    padding: 0;
    display: none;
  }
  .songlist-duration{
    font-size: 1rem;
    width:5rem;
  }
  .songlist-download,.songlist-download1{
    font-size: 1rem;
  }
  .gaana-audio-cmn{
    position:fixed;
    
  }
  .gaana-footer-cmn,.artists-footer-cmn{
    padding-bottom: 100px;
  }
  }


  @media screen and (max-width:483px) {
    .songlist-th-download{
      display: none;
    }
  }



  @media screen and (min-width:750px) and (max-width:1010px) {
    .gaana-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
      
    }
    .ganna-img{
      width:8rem;
      height: auto;
    }
    .gaana-category{
      font-size:1.7rem;
      margin: 1rem 0;
    }
    .gaana-total{
      font-size:1.5rem;
    }
    .songlist-th{
      font-size: 1.2rem;
      padding: 1rem .4rem;
    }
    .songlist-songname{
      font-size: 1.2rem;
    }
    .songlist-musicdirector{
      width:8rem;
      margin: auto;
      font-size: 1.2rem;
      padding: 0;
    }
    .songlist-singer,.songlist-singer1{
      width:5rem;
      margin: auto;
      padding:0;
      font-size:1.2rem;
    }
    .songlist-duration,.songlist-download{
      font-size: 1.2rem;
    }

  }