*{
    margin: 0px;
    padding:0px;
}
.podcasts{
    background-color: rgb(45, 44, 44);
}
.podcasts-common{
  width:90%;
  margin: auto;
}
.podcasts-cmn {
  margin-left: 5%;
  padding-top: 1rem;
  
}
.podcasts-h1{
  color:white;
  font-size:2rem;
  margin-left: 5%;
  margin-top: 1rem;
  letter-spacing: 2px;
  font-family: mode;
}
.podcasts-number{
  color:white;
  font-size:2rem;
  font-family: cabin;
}
.podcasts-card {
  height:auto;
  cursor: pointer;
  padding: 0 1rem 1rem 1rem; 
}

.podcasts-card:hover,.podcasts-image:hover,.podcasts-card:hover > * {
  background-color: rgb(103, 102, 102);
  opacity: 1;
  border-radius: 15%; 
}

.podcasts-card:hover > .podcasts-image {
  animation-name: animate;
  animation-duration: 5s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  position: relative;
}
@keyframes animate1 {
  
}

.podcasts-image {
  height: 10rem;
  width: 100%;
  border-radius: 50%;
  margin-bottom: .3rem;
  transition: 1000ms;
  
}
.podcasts-image1{
  margin-bottom: .3rem;
  letter-spacing: 3px;
}
.podcasts-movie{
  text-align: center;
  color:white;
  font-family: coco;
  font-size: 1rem;
  letter-spacing: 2px;
  text-overflow: ellipsis;
    overflow: hidden;
    width:105%;
    white-space: nowrap;
font-family: cabin;
}
.podcasts-director{
  font-family: cabin;
  text-overflow: ellipsis;
  overflow: hidden;
  width:100%;
  font-size: 1.2rem;
  text-align: center;
  white-space: nowrap;
  color:rgb(180, 184, 160);
  letter-spacing: 1px;
}
.podcasts-singer{
  font-family: cabin;
  letter-spacing: 1.4px;
  font-size:1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width:100%;
  white-space: nowrap;
  color:rgb(194, 199, 183);
}

@media screen and (max-width:749px) {
.podcasts-common{
  width:75%;
  margin:auto;
}
.podcasts-cmn {
  padding:1rem 0 0rem 0;
}
.podcasts-card {
  padding: 0 1rem .1rem 1rem; 
}
.podcasts-image {
  height: 8rem;
}
.podcasts-h1{
  font-size: 1.6rem;
  margin-top: 1rem;
}
.podcasts-director{
  font-size: 1.2rem;
}
}
@media screen and (max-width:400px) {
  .podcasts-common{
    width:65%;
    margin:auto;
  }
}

@media screen and (min-width:750px) and (max-width:1010px) {
  .podcasts-common{
    width:75%;
    margin:auto;
  }
  .podcasts-card {
    padding: 0 1rem .5rem 1rem; 
  }
  .podcasts-image {
    height: 8rem;
  }
  .podcasts-h1{
    font-size: 1.8rem;
   
  }
  .podcasts-director{
    font-size: 1.3rem;
  }
}