*{
    padding:0px;
    margin:0px;
}
.App {
    display: flex;
    position: relative;
  }
  
.content{
    
    margin-left: 15%;
    width:85%;
}
.app-audio-play{
    position: fixed;
    bottom: 0px;
    margin-left: 15%;
    width:85%;
}
@media screen and (max-width:749px) {
.content{
    width:100%;
    margin: 0;
}
}